body {
  background-color: #FFFFFF;
}


.restaurants-list-wrapper {
  .restaurants-list-content {
    .restaurants-list-filters {
      min-height: 125px;
      background-color: #F3F2F1;
      padding-top: 0;
      text-align: center;

      .filters {
      }

      .restaurant-filter {
        label {
          color: #333333
        }

        .checkbox {
          display: inline;

          label {
            margin-right: 10px;
          }
        }
      }
    }

    .restaurants-list {
      .restaurant-row {
        border-bottom: 1px solid #efefef;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: transform ease-in-out 0.3s;
        -moz-transition: transform ease-in-out 0.3s;
        -webkit-transition: transform ease-in-out 0.3s;

        &:focus {
          background: #efefef;
        }

        &:hover {
          cursor: pointer;
          transform: translate(-15px);
        }

        .restaurant-info {
          .price {
            color: #ADB1B3;
            letter-spacing: 2px;

            i {
              font-style: normal;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.restaurant-wrapper {
  .restaurant-header {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color: #efefef;
    display: table;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;

    > .row {
      display: table-cell;
      vertical-align: middle;
    }

    .restaurant-image {
      text-align: center;
    }

    h2 {
      margin-top: 0;
    }

    .restaurant-address {
      display: table;

      .icon, .address {
        display: table-cell;
        vertical-align: middle;
      }
    }

    // .container-fluid {
    //   display: table-cell;
    //   vertical-align: middle;
    // }
  }

  .restaurant-content {
    margin-top: 25px;

    .general-restaurant-info {
      .hours {
        > .row {
          .time {
            // border-bottom: 1px solid #efefef;
            margin-bottom: 3px;
            margin-top: 3px;
          }
        }
      }
    }
  }

  .review-form {
    textarea {
      resize: vertical;
    }

    .form-group {
      label {
        color: #333333;
      }
    }

    .stars {
      > label:first-child {
        margin-right: 15px;
      }
    }

    .material-icons {
      &:focus {
        color: #abc123;
      }

      &:hover {
        color: red;
      }
    }

    button {
      &.btn {
        font-size: 14px;

        &:focus {
        }

        &.btn-success {
          background-color: #248900;
        }
      }
    }
  }

  .review-list {
    margin-top: 25px;

    .review-entry {
      border-bottom: 1px solid #efefef;
      margin-bottom: 15px;
      padding: 15px;

      &:last-child {
        border: none;
      }

      .review-header {
        margin-bottom: 15px;
      }
    }
  }
}

.restaurant-image {
  img {
    width: 100px;
    height: 100px;
  }
}

.price {
  span {
    color: #ABABAB;
    letter-spacing: 2px;
    font-size: 16px;

    b {
      color: #333
    }
  }
}

// <div class="checkbox">
//   <label>
//     <input type="checkbox" name="optionsCheckboxes">
//     Unchecked
//   </label>
// </div>

@media (max-width: 991px){
  .restaurant-wrapper {
    .restaurant-header {
      text-align: center;

      .restaurant-address {
        display: block;

        .icon, .address {
          display: block;
          // vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 768px){
  .restaurant-row {
    // text-align: center;
  }
}