.restaurants-list-wrapper {
  .restaurants-list-content {
    .restaurants-list-filters {
      height: 200px;
      // background: white;

      .restaurant-filter {

        .checkbox {
          display: inline;
        }
      }
    }

    .restaurant-row {
      margin-bottom: 25px;

      &:focus {
        background: white;
      }

      .restaurant-info {
        .price {
          color: #ADB1B3;
          letter-spacing: 2px;

          i {
            font-style: normal;
            color: #000000;
          }
        }
      }
    }
  }
}

.restaurant-wrapper {
  .restaurant-header {
    height: 150px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: table;
    text-align: left;

    .restaurant-image {
      text-align: center;
    }

    h2 {
      margin-top: 0;
    }

    .restaurant-address {
      display: table;

      .icon, .address {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .container-fluid {
      display: table-cell;
      vertical-align: middle;
    }

  }

  .restaurant-content {
  }
}

.restaurant-image {
  img {
    width: 100px;
    height: 100px;
  }
}

.price {
  span {
    color: #ABABAB;
    letter-spacing: 2px;
    font-size: 16px;

    b {
      color: #333
    }
  }
}

// <div class="checkbox">
//   <label>
//     <input type="checkbox" name="optionsCheckboxes">
//     Unchecked
//   </label>
// </div>

@media (max-width: 991px){
  .restaurant-wrapper {
    .restaurant-header {
      text-align: center;
    }
  }
}