<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Name</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= requirejs_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main"></div>
</body>
</html>
